{% extends "base.html" %}
{% block title %}Manage{% endblock %}

{% block content %}

		<b style="padding-left:16px">Streams I Own</b>
		<ul>

			{% if cStreams %}
     			<form action="/" method="post">
     			<div>
				<table id="created" style="width:70%">
			    		<thead>
						<tr>
							<th>Name</th>
							<th>Last New Picture</th>
							<th>Number of Pictures</th>
							<th>Views</th>
							<th>Delete</th>
						</tr>
				    	</thead>
	 				<tbody>
	 				{%for str, numView, numImg in cStreams %}
	 					<tr>
							<td><a href="/view_one?streamKey={{str.key.urlsafe()}}">{{str.name}}</a></td>
							<td>{{str.lastUpdate}}</td>
							<td>{{numImg}}</td>
							<td>{{numView}}</td>
							<td><input type="checkbox" name="cList[]" value="{{str.name}}"></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<input type="submit" class="button" value="Delete Checked Streams">
			</div>
			</form>
	 		{% else %}
	 			No created streams. Go make some right now!
	 		{% endif %}
		</ul>

		<b style="padding-left:16px">Streams I Subscribe to</b>
		<ul>
			{% if sStreams %}
     			<div>
			<form action="/" method="post">
				<table id="subscribed" style="width:70%">
			    		<thead>
						<tr>
							<th>Name</th>
							<th>Last New Picture</th>
							<th>Number of Pictures</th>
							<th>Views</th>
							<th>Unsubscribe</th>
						</tr>
				    	</thead>
	 				<tbody>
	 				{%for str, numView, numImg in sStreams %}
	 					<tr>
							<td><a href="/view_one?streamKey={{str.urlsafe()}}">{{str.get().name}}</a></td>
							<td>{{str.get().lastUpdate}}</td>
							<td>{{numImg}}</td>
							<td>{{numView}}</td>
							<td><input type="checkbox" name="sList[]" value="{{str.get().name}}"></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<input type="submit" class="button" value="Unsubscribe Checked Streams">
			</form>
			</div>
	 		{% else %}
	 			No subscribed streams. Go subscribe to some right now!
	 		{% endif %}
		</ul>
		</table>
{% endblock %}
