{% extends "base.html" %}
{% block title %}View_single{% endblock %}
{% block content %}

<div class="row">
{% if streamKey.get().coverImage %}
	<div class="col-sm-6 col-md-4">
		<img class="img-responsive center-block" src="{{streamKey.get().coverImage}}" alt="{{streamKey.get().name}}" width="300" height="300">
	</div>
{% endif  %}
{% if images %}
  {% for img in images %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img?img_id={{img.key.urlsafe()}}" alt="image">
	  <div class="caption">
	  <p>Created at {{img.time.strftime('%I:%M%P on %b %d, %Y')}}</p>
	  </div>
    </div>
  </div>
  {% endfor %}
  <form action="/view_one?streamKey={{streamKey.urlsafe()}}" method="post">
    <button id="search_btn" type="submit" class="btn btn-primary" value="skiptimes" name="skiptimes">MorePictrues</button>
  </form>
{% endif %}
</div>
<div class="row">
  {% if ownerCheck|string() == 'isOwner' %}
  <form action="/upload?streamKey={{streamKey.urlsafe()}}" enctype="multipart/form-data" method="post">
    <div><input type="file" name="img"/></div>
    <input class="btn btn-default" type="submit" value="Add Image">
  </form>
  {% else %}
  <form id="multipleupload" action="/subscribe?streamKey={{streamKey.urlsafe()}}" enctype="multipart/form-data" method="post">
    <input class="btn btn-default" type="submit" value="Subscribe">
  </form>
  {% endif %}
</div>
<br>
{% endblock %}
