<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>
<h1>{{ name }}</h1>
<div class="streamDescription">
  <a target="_blank" href='/{{ cover }}'>
    <img src='/{{ cover }}' width="300" height="200">
  </a>
  {% for t in tags %}
  <div class="desc">{{ t }}</div>
  {% endfor %}
</div>
<h2>Last Updated: {{ lastUpdate }}</h2>
<h2>Views: {{ views }}</h2>
{% for s in images %}
<div class="gallery">
  <a target="_blank" href='/{{ s }}'">
    <img src='/{{ s }}' width="300" height="200">
  </a>
</div>
{% endfor %}


</body>
</html>

