{% extends "base.html" %}
{% block title %}Create{% endblock %}
		
{% block content %}

		<strong style="color:red">{{msg}}</strong>
		<form action="/create-stream" method="post">
			<div>
				<div class="form-group col-md-6">
					<label for="name">Name Your Stream</label>
					<br/>
					<textarea name="name" class="top" rows="1" cols="35" style ="float: left" autofocus></textarea>
				</div>
				<div class="form-group col-md-6">
					<label for="invites">Add Subscribers</label>
					<br/>
					<textarea name="invites" class="top" rows="3" cols="55" style="float: left" placeholder="subscriber@example.com, subscriber2@example.com"></textarea>
				</div>
				<div class="form-group col-md-6">
					<label for="invMsg">Invite Message (Optimal)</label>
					<br/>
					<textarea name="invMsg" class="top" rows="3" cols="55" style="float: left" placeholder="Option message for invitation"></textarea>
				</div>
				<div class="form-group col-md-6">
					<label for="tags">Tag Your Stream (comma separated)</label>
					<br/>
					<textarea name="tags" class="top" rows="3" cols="55" style="float: left" placeholder="#Food, #NBA"></textarea>
				</div>
				<div class="form-group col-md-6">
					<label for="image">URL to cover image(Can be Empty)</label>
					<br/>
					<textarea name="image"class="top" rows="1" cols="50" style="float: left"></textarea>
				</div>
				<br/>
				<input type="submit" class="button" value="Create Stream">
			</div>
		</form>
{% endblock %}
